.background-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 60vh;
  padding: var(--space-32) var(--space-16);
}

.background-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--space-32);
}

@media (max-width: 640px) {
  .background-wrapper {
    min-height: 65vh;
    padding: var(--space-24) var(--space-16);
  }
}

@media (min-width: 1025px) {
  .background-wrapper {
    min-height: 60vh;
    padding: var(--space-32);
  }
}


